body{
  text-align: center;
  background-color: rgba(117, 221, 255, 0.5);
  font-family: 'Poiret One', cursive;
}
ul{
  list-style: none;
  text-align: center;
  padding: 0px 45px 0px 45px;

}

nav li{
  display: inline-block;
  width: 30%;
}
.flashy1{
  color:red;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  list-style: none;
}
.flashy2{
  color:red;
  font-style: italic;
  font-weight: bold;
  text-align: right;
  list-style: none
}

img{
  width: 200px;
  height: 200px;
  padding: 0% 25% 0% 25%;
  text-align: none;
  list-style: none;
}

h1{

}
.best{
  color: rgba(242, 255, 0, 0.8);
  font-size:150%;
  text-shadow: 5px 5px 5px;
}
.cupcakestyle{
  font-style: italic;
  color: yellow
}
